<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DC Monitoring PT. PLN (Persero) UP2D Kalimantan Barat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="../public/chart.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </head>
  <body class="p-8 font-sans subpixel-antialiased bg-slate-800 text-slate-50">
    <h1 class="mb-3 font-bold text-center text-4xl tracking-wide">DC Monitoring Gardu Hubung 20kV</h1>
    <h2 class="font-semibold text-center text-2xl tracking-wide">PT. PLN (Persero) UP2D Kalimantan Barat</h2>
      {{template "chart" .}}
  </body>
</html>
